# PostgreSQL (Neon)
DB_HOST=example-db-host
DB_NAME=example-db-name
DB_PORT=example-db-port
DB_USER=example-db-user
DB_PASSWORD=example-db-password

# JWT
JWT_SECRET=example-jwt-secret
JWT_REFRESH_SECRET=example-jwt-refresh-secret
JWT_EXPIRES_IN=example-jwt-expires-in
JWT_REFRESH_EXPIRES_IN=example-jwt-refresh-expires-in

# Server
PORT=example-port