# PostgreSQL (Neon)
DATABASE_URL=example-database-url

# JWT
JWT_SECRET=example-jwt-secret
JWT_REFRESH_SECRET=example-jwt-refresh-secret
JWT_EXPIRES_IN=example-jwt-expires-in
JWT_REFRESH_EXPIRES_IN=example-jwt-refresh-expires-in

# Server
PORT=example-port

# CORS
CORS_ORIGINS=example-cors-origins

# Redis (Upstash)
REDIS_URL=example-redis-url

# SendGrid
SENDGRID_API_KEY=example-sendgrid-api-key
MAIL_FROM=example-mail-from